html(lang="en")
  include ../header
  
  body.home-page

    include ../nav

    .section-block.feature-1
      .row
        .column.width-12
          .feature-content
            .feature-content-inner
              h6 CENTERED FEATURE SECTION
              h2 Club W
              p.lead Content..
        .column.width-12
          .feature-image
            img(src='images/feature-image.jpg', alt='')

    include ../scripts