doctype html
head
  
  meta(charset='utf-8')       
  meta(http-equiv='x-ua-compatible', content='ie=edge')              
  meta(name='description', content='')         
  meta(name='viewport', content='width=device-width,initial-scale=1.0,maximum-scale=1.0" name="viewport')

  //- Place favicon.icos here
  title Piotr Kuczynski

  <!-- build:css(app) /styles/vendor.min.css -->
  //- bower:css
  //- endbower
  <!-- add any other stylesheets inside here... -->
  link(rel='stylesheet', href='/styles/framework/timber.css')
  link(rel='stylesheet', href='/styles/framework/avalanche.css')
  link(rel='stylesheet', href='/styles/framework/snowbridge.css')
  link(rel='stylesheet', href='/styles/framework/horizon.css')
  link(rel='stylesheet', href='/styles/framework/summit.css')
  link(rel='stylesheet', href='/styles/framework/templates.css')
  //- link(rel='stylesheet', href='/styles/framework/style.css')
  <!-- endbuild -->

  <!-- build:css(.tmp) /styles/app.min.css -->
  link(rel="stylesheet", href="/styles/app.css")
  <!-- add any other stylesheets inside here... -->
  <!-- endbuild -->