html(lang="en")
  include header
  
  body.home-page

    include nav

    section#home
        div.section-block.hero-1
          div.row
            div.column.width-12
              div.hero-content
                div.hero-content-inner
                   h2.weight-bold.mb-30 Bringing an empathetic approach to building digital products through a unique blend of business and technical understanding
                   br
                   a(href="mailto:piotr@danzigstudio.com" target="_top") piotr@danzigstudio.com

   
    section#about
      div.section-block.bkg-purple.color-white
        div.row
          div.column.width-10
            h2.weight-bold.mb-30 About
            p.lead
                | I currently work at Club W in Los Angeles. Previously I worked with various film composers, recording studios, The Carnegie Corporation, NYU, CAHG, Bloomberg, and several photo archives.
                | I used to have a thing for publishing. I worked at Sports Illustrated, interned at The New Yorker and freelanced at NY Magazine.
                | I enjoy espresso, the desert, hip-hop and jazz.
    

    //- section#work
      
    //-   div.section-block.bkg-white.color-black
    //-     div.row
    //-       div.column.width-3
    //-         img.center-on-mobile(src="assets/images/clubw.png")
    //-       div.column.width-8.push-1
    //-         h2 CLUB W
    //-         p.lead Leading the Grape to Glass Revolution
    //-         a Read More
    



        
    include scripts