header.header-3.header.header-fixed-on-mobile(data-helper-in-threshold='300', data-helper-out-threshold='500', data-sticky-threshold='300', data-bkg-threshold='300', data-compact-threshold='300')
  
  div.header-inner
    
    div.row.nav-bar.reveal-side-navigation         
      div.column.width-12.nav-bar-inner
        div.logo
          a(href='#') Piotr Kuczynski
        
        div#side-nav-show.navigation-show.hide
          a(href='#')
            span.icon-menu.medium
        
        //- nav.navigation
        //-   ul
        //-     li.smb-1
        //-       a.scroll-link(href='#home', data-offset='0') Home                
        //-     li.smb-2
        //-       a.scroll-link(href='#about', data-offset='-60') About
        //-     li.smb-3
        //-       a.scroll-link(href='#work', data-offset='-60') Work
        //-     li.smb-4
        //-       a.scroll-link(href='#contact', data-offset='-60') Contact

//- header#header(data-scroll-header)
//-   div.header-container
//-     div.header-inner
      
//-       div.header-logo
//-         h1
//-           a(href="/") PIOTR KUCZYNSKI

//-       nav.main-nav
//-         ul
//-           li
//-             a(href="https://www.linkedin.com/in/kuczynskipiotr", target="_blank")
//-               i.fa.fa-linkedin-square.fa-2x
//-           li
//-             a(href="https://twitter.com/danzigstudio", target="_blank")
//-               i.fa.fa-twitter-square.fa-2x
//-           li
//-             a(href="https://instagram.com/danzigstudio/", target="_blank")
//-               i.fa.fa-instagram.fa-2x
      
//- nav.main-nav
//-   ul
//-     li
//-       a(href="/work") Work
//-     li
//-       a(href="/about") About
//-     li
//-       a(href="/blog") Blog
//-     li
//-       a(href="/resume") Resume
//-     li
//-       a(href="/contact") Contact